<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
               <a class="ch-blue ch-link text-l clickable" (click)="goBack()">Terug</a>
            </div>
        </div>
        <div class="row">
            <h1>Bewerk "{{ chore.title }}"</h1>
        </div>
        <div class="row">
            <div class="columns six">
                <label for="title">De naam van je zoekertje</label>
                <input [(ngModel)]="chore.title" class="u-full-width" type="text" id="title" />
                <p class="error">{{ errors.titleError }}</p>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns six">
                <label for="description">Wat heb je nodig?</label>
                <textarea style="height: 200px" [(ngModel)]="chore.description" class="u-full-width" id="description"></textarea>
                <p class="error">{{ errors.descriptionError }}</p>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns six">
                <label for="location">Waar vindt deze klus plaats?</label>
                <input [(ngModel)]="chore.location" type="text" id="location">
                <p class="error">{{ errors.locationError }}</p>
            </div>
        </div>
        <!--<div class="row mar-top-m">
            <div class="columns six">
                <label for="category">Welke categorie valt deze chore onder?</label>
                <select [(ngModel)]="chore.category" id="category">
                    <option value="">Kies hier ...</option>
                    <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
                </select>
                <p class="error">{{ errors.categoryError }}</p>
            </div>
        </div>-->
        <div class="row mar-top-l">
            <a (click)="validate()" class="ch-btn ch-btn-lg ch-bg-blue clickable"><i class="material-icons fix-icon-left">add</i>Opslaan</a>
        </div>
    </div>
</section>
