<section class="view">
    <div class="container">
        <div class="row">
            <ul class="hub-nav-list u-pull-left">
                <li class="regular">Navigatie:</li>
                <li><a routerLink="/admin/categories" [routerLinkActive]="['is-active']">Categoriëen</a></li>
                <li><a routerLink="/admin/users" [routerLinkActive]="['is-active']">Gebruikers</a></li>
                <li><a routerLink="/admin/chores" [routerLinkActive]="['is-active']">Chores</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="columns twelve">
                <h1>Admin - chores</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titel</th>
                            <th>Categorie</th>
                            <th>Handelingen</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chore of chores">
                            <td>{{ chore.id }}</td>
                            <td>{{ chore.title }}</td>
                            <td>{{ chore.category.name }}</td>
                            <td>
                                <a [routerLink]="['/hub/chores', chore.id]" class="ch-btn ch-btn-s ch-bg-green">Bekijk</a>
                                <a (click)="deleteChore(chore.id)" class="mar-lft-m clickable ch-btn ch-btn-s ch-bg-red">Verwijder</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>          
        </div>
    </div>
</section>