<section class="view">
    <div class="container">
        <div class="row">
            <ul class="hub-nav-list u-pull-left">
                <li class="regular">Navigatie:</li>
                <li><a routerLink="/admin/categories" [routerLinkActive]="['is-active']">Categoriëen</a></li>
                <li><a routerLink="/admin/users" [routerLinkActive]="['is-active']">Gebruikers</a></li>
                <li><a routerLink="/admin/chores" [routerLinkActive]="['is-active']">Chores</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="columns twelve">
                <h1>Admin - gebruikers</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                    <table>
                    <thead>
                        <tr>
                            <th>Voornaam</th>
                            <th>Achternaam</th>
                            <th>Email</th>
                            <th>Admin?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.lastName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.isAdmin }}</td>
                            <td>
                                <a [routerLink]="['/hub/users', user.id]" class="clickable ch-btn-s ch-btn ch-bg-blue">Profiel</a>
                            </td>
                            <td>
                                <a (click)="deleteUser(user)" class="clickable ch-btn-s ch-btn ch-bg-red">Verwijder</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>          
        </div>
    </div>
</section>