<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h1>{{ state }} profiel</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns six">
                <label for="">Voornaam</label>
                <input class="u-full-width" type="text" />                
            </div>
            <div class="columns six">
                <label for="">Naam</label>
                <input class="u-full-width" type="text" />   
            </div>            
        </div>
        <div class="row mar-top-m">
            <div class="columns twelve">
                <label for="">Beschrijf jezelf</label>
                <textarea class="u-full-width"></textarea>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns six">
                <label for="is-active">Is uw profiel publiek?</label>
                <select id="is-active">
                    <option value="">Kies hier ...</option>
                    <option value="1">Ja</option>
                    <option value="0">Nee</option>
                </select>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns six">
                <label for="">Profiel foto</label>
                <input type="file">
            </div>
        </div>
        <div class="row mar-top-l">
            <a class="ch-btn ch-btn-lg ch-bg-blue">Opslaan</a>
        </div>
    </div>
</section>