<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns eight">
                <h1>Mijn profiel</h1>
            </div>
            <div class="columns four">
                <a routerLink="/profile/edit" class="button u-pull-right ch-btn ch-bg-blue ch-btn-lg"><i class="material-icons fix-icon-left">edit</i>Bewerk</a>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Naam:</label>
                <p>{{ profile.firstName }} {{ profile.lastName }}</p>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Beschrijving:</label>
                <p>{{ profile.description }} </p>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Locatie:</label>
                <p>{{ profile.location }}</p>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Status: </label>
                <p *ngIf="profile.isPublic">Publiek</p>
                <p *ngIf="!profile.isPublic">Geheim</p>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Profielfoto:</label>
                <img *ngIf="profile.image && profile.image.link" class="profile-picture" [src]="profile.image.link" alt="profile picture" />
                <img *ngIf="!profile.image" class="profile-picture" src="https://cdn0.iconfinder.com/data/icons/people-groups/512/User_Male-512.png" alt="profile picture" />
            </div>
        </div>
    </div>
</section>
