<section class="hub-view chores-bg-img">
    <div class="container shadow">
			<div class="row hub-header ch-bg-white">
				<div class="columns six">
					<div class="row">
						<h1 class="light ch-green no-mar-b">Zoekers</h1>
					</div>
					<div class="row">
						<h5 class="light">Vind een klus dat bij je past</h5>
					</div>
				</div>
				<div class="columns six">
					<div class="row">
						<ul class="u-pull-right hub-nav-list mar-btm-s">
							<li class="regular">Zoek op:</li>
							<li><a routerLink="/hub/chores" routerLinkActive="is-active"><i class="material-icons fix-icon-left">view_list</i>Zoekers</a></li>
							<li><a routerLink="/hub/users" routerLinkActive="is-active"><i class="material-icons fix-icon-left">person</i>Klussers</a></li>
						</ul>
					</div>
					<div class="row">
						<a class="ch-btn ch-btn-lg ch-bg-green u-pull-right" routerLink="/hub/chores/create"><i class="material-icons fix-icon-left">add</i>Plaats je eigen zoeker</a>
					</div>
				</div>
			</div>
			<div class="row ch-bg-green hub-parent">
				<aside class="three columns text-white">
					<h5>Filters</h5>
					<label>Locatie:</label>
					<input type="text" class="search-field" [(ngModel)]="location" (ngModelChange)="changeLocation($event)" />
					<label class="mar-top-l">Categorie:</label>
					<ul>
						<li><a class="clickable" (click)="changeCategory()">Alle</a></li>
						<li *ngFor="let category of categories">
							<a class="clickable" (click)="changeCategory(category)">{{ category.name }}</a>
						</li>
					</ul>
				</aside>
				<div class="nine columns hub-container u-pull-right no-mar-l">
					<h5 class="ch-green">Resultaten</h5>
					<div *ngFor="let chore of filteredChores; let e = even;" class="columns twelve result" [ngClass]="e == true ? 'no-mar-l' : ''">
						<div class="row">
							<h5>{{ chore.title }}</h5>
						</div>
						<div class="row relative">
							<div class="columns four">
								<label class="chore-label">Waar?</label>
								<p class="chore-info">{{ chore.location }}</p>
							</div>
							<div class="columns four">
								<label class="chore-label">Wie?</label>
								<p class="chore-info">{{ chore.user.firstName }} {{ chore.user.lastName }}</p>
							</div>
							<div class="columns four align-bottom-right">
								<a class="ch-blue ch-link text-m" [routerLink]="['/hub/chores/', chore.id]">Bekijk zoeker</a>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
</section>
