<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <h1>Nieuwe Chore</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns six">
                <label for="title">Titel</label>
                <input [(ngModel)]="chore.title" class="u-full-width" type="text" id="title" />                
            </div>         
        </div>
        <div class="row mar-top-m">
            <div class="columns six">
                <label for="description">Wat heb je nodig?</label>
                <textarea style="height: 200px" [(ngModel)]="chore.description" class="u-full-width" id="description"></textarea>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns six">
                <label for="category">Welke categorie valt deze chore onder?</label>
                <select [(ngModel)]="chore.category" (change)="test()" id="category">
                    <option value="">Kies hier ...</option>
                    <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
                </select>
            </div>
        </div>
        <div class="row mar-top-l">
            <a class="ch-btn ch-btn-lg ch-bg-blue clickable">Opslaan</a>
        </div>
    </div>
</section>