<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
               <a class="ch-blue ch-link text-l clickable" (click)="goBack()">Terug</a>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <h1>{{ user.firstName }} {{ user.lastName }}</h1>
            </div>
        </div>
        <div *ngIf="user.image.link" class="row">
            <div class="columns twelve">
                <img class="profile-picture" [src]="user.image.link" alt="profile picture" />
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns twelve">
                <label>Wie ben ik?</label>
                <p>{{ user.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Waar ben ik?</label>
                <p>{{ user.location }}</p>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Contacteer mij</label>
                <span>{{ user.email }}</span>
            </div>
        </div>
    </div>
</section>