<section class="view">
    <div class="container">
        <div class="row">
            <h1 class="ch-blue light mar-top-l">Info</h1>
            <p class="text-larger"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, alias voluptatum possimus tenetur. Amet ratione adipisci hic molestias, cum animi odio error tempora maxime, recusandae omnis repellendus explicabo itaque quibusdam.</p>        
        </div>
        <div class="row">
            <h2 class="ch-red light mar-top-l">Why?</h2>
            <p class="text-larger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore officia, magnam explicabo sapiente? Et, deserunt, adipisci. Blanditiis, suscipit reiciendis nostrum aspernatur illo adipisci tenetur! Esse autem optio aperiam eaque unde!</p>       
        </div>
        <div class="row">
            <h2 class="ch-yellow light mar-top-l">Contact</h2>
            <p class="text-larger">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facilis excepturi, et pariatur quam. Consequuntur amet similique odit hic rem dolor saepe cum, quaerat, earum nobis magni praesentium ea repellat.</p>
        </div>
    </div>  
</section>