<section class="view">
        <div class="container">
            <div *ngIf="isFirstTime" class="row">
                <div class="columns twelve">
                    <p class="text-white ch-bg-blue alert"><strong>Hallo!</strong> We zien dat je juist een profiel hebt gemaakt bij ChoreHub.
                        Als je niet zeker bent hoe van start te gaan, neem dan even de instructies door.
                        Indien je terug naar deze pagina wilt, kan je deze onderaan elke pagina vinden.
                    </p>
                </div>
            </div>
            <div class="row">
                <h1 class="ch-red light">Maar hoe gaat het nu allemaal in zijn werk?</h1>
                <p class="text-larger columns twelve">
                    Nu je je profiel gemaakt hebt, gaat de wereld van ChoreHub voor je open. Heb je een klusje dat je graag door iemand zou laten opknappen?
                    Hieronder wordt mooi uitgelegd hoe je de perfecte klusser vindt. Steek je liever zelf de handen uit de mouwen? Verder staat ook verduidelijkt hoe je mensen
                    in de buurt vindt om te helpen.
                    Tot slot is er nog een woordje uitleg bij het beheren van je profiel en je zoekertjes.
                </p>
            </div>
            <div class="row">
                <h2 class="ch-blue light mar-top-l">Zoekertje plaatsen</h2>
                <div class="columns twelve">
                    <p class="text-larger columns seven">
                        Heb je een nieuwe karweitje dat opgeknapt moet worden, en heb je hier graag hulp bij? Klik op de "plaats je eigen zoeker"-knop die bovenaan op de
                        zoekers-pagina staat.
                    </p>
                    <div class="columns five mar-btm-m">
                        <img class="shadow right" src="assets\images\PlaatsJeEigenZoeker.png" alt="plaats je eigen zoeker-knop">
                    </div>
                </div>

                <div class="columns twelve">
                    <p class="text-larger columns twelve">
                        Op de volgende pagina vul je alle info in over het klusje dat je graag zou uitbesteden.
                        Slaag je klusje op en ziezo, het staat in de lijst voor andere mensen om opgemerkt te worden. Wanneer iemand je klusje wil opknappen,
                        sturen we je een mail met zijn/haar gegevens zodat jullie verder kunnen afspreken.
                    </p>
                </div>
            </div>
            <div class="row">
                <h2 class="ch-blue light mar-top-l">Klusser vinden</h2>
                <div class="columns twelve">
                    <p class="text-larger columns twelve">
                        Indien je niet wil wachten tot iemand reageert op je zoekertje, kan je ook de juiste klusser bij jou in de buurt proberen vinden.
                        Dit doe je op de klussers-pagina, waar je profielen kan bekijken en zoeken op locatie.
                    </p>
                </div>

                <div class="columns twelve mar-btm-l">
                    <img class="shadow" src="assets\images\Klussers.png" alt="plaats je eigen zoeker-knop">
                </div>

                <div class="columns twelve">
                    <p class="text-larger columns six">
                        Iemand in de buurt gevonden waarvan je denkt dat hij of zij je wel kan helpen? Stuur een berichtje en kom het snel te weten!
                    </p>
                    <div class="columns six">
                        <img class="shadow" src="assets\images\Versturen.png" alt="plaats je eigen zoeker-knop">
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="ch-green light mar-top-l">Iemand helpen</h2>
                <div class="columns twelve">
                    <p class="text-larger columns twelve">
                        Staan je handen naar voren en wil je graag mensen bij je in de buurt met iets helpen? Ga naar de zoekers-pagina
                        en vind het juiste klusje bij jou in de buurt. Je kan de lijst met zoekertjes ook beperken door een categorie te kiezen, waarbinnen je een klusje wil
                        uitvoeren.
                    </p>
                </div>

                <div class="columns twelve mar-btm-l">
                    <img class="shadow" src="assets\images\Zoekers.png" alt="plaats je eigen zoeker-knop">
                </div>

                <div class="columns twelve">
                    <p class="text-larger columns six">
                        Een klusje gevonden waar je mee wil helpen? Stuur een berichtje om verder af te spreken met de hulpvrager.
                    </p>
                    <div class="columns six">
                        <img class="shadow" src="assets\images\Versturen.png" alt="plaats je eigen zoeker-knop">
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="ch-yellow light mar-top-l">Je profiel en klusjes beheren</h2>
                <div class="columns twelve">
                    <p class="text-larger columns seven">
                        Wil je je profiel of een van je geplaatste zoekertjes veranderen?
                        Ga in de menu naar de juiste pagina, waar je een Bewerk-knop zal vinden. Verander naar hartelust!
                    </p>
                    <div class="columns five mar-btm-m">
                        <img class="shadow right" src="assets\images\Menu.png" alt="plaats je eigen zoeker-knop">
                    </div>
                </div>

                <div class="columns twelve mar-btm-l">
                    <img class="shadow" src="assets\images\MijnZoekertjes.png" alt="plaats je eigen zoeker-knop">
                </div>
            </div>
            <div class="row">
                <p class="text-larger columns twelve">
                    Nu ben je klaar om aan de slag te gaan in ChoreHub! Schrik dat je dit allemaal niet gaat onthouden?
                    Geen paniek! Onderaan elke pagina vindt je een link naar deze instructies-pagina. Je kan hem natuurlijk ook altijd gewoon aan je bladwijzers toevoegen.
                </p>
            </div>
        </div>
    </section>
