<header class="shadow">
    <div class="container row">
        <div class="four columns">
            <a routerLink="/home" class="logo ch-green"><span>Chore</span>Hub</a>
        </div>
        <div class="four columns">
            <nav>
                <ul class="nav-list">
                    <li><a routerLink="/home" class="ch-blue">Home</a></li>
                    <li><a routerLink="/info" class="ch-red">Info</a></li>
                    <li><a routerLink="/hub/users" class="ch-green">Hub</a></li>
                </ul>
            </nav>
        </div>
        <div class="four columns">
            <ul *ngIf="!authSvc.authenticated()" class="auth-list u-pull-right">  
                <li><a (click)="authSvc.showLogin()" class="clickable">Aanmelden</a></li>
                <li><a (click)="authSvc.showRegister()" class="clickable">Registreer</a></li>
            </ul>
            <ul *ngIf="authSvc.authenticated() && authSvc.authProfile" class="auth-list u-pull-right">
                <li>
                    <a class="clickable" (click)="showTopMenu()">{{ authSvc.authProfile.nickname }}<i class="material-icons fix-icon">arrow_drop_down</i></a>
                    <ul class="dropdown-content shadow" *ngIf="topMenuActive">
                        <li><a routerLink="/admin/categories">Admin Panel</a></li>
                        <!--<li><a routerLink="/profile/chores">My Chores</a></li>-->
                        <li><a routerLink="/profile">My Profile</a></li>
                        <li><a (click)="authSvc.logout()" class="clickable">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>        
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="container row">
        <div class="four columns">
            <p>&copy; Benno Meysmans <br />
                &amp; Seppe Goossens 2017</p>
        </div>
        <div class="four columns">
            <ul class="cf nav-list">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/info">Info</a></li>
                <li><a routerLink="/hub/users">Hub</a></li>
            </ul>
        </div>
        <div class="four columns">
            <ul *ngIf="!authSvc.authenticated()" class="auth-list">  
                <li><a (click)="authSvc.showLogin()" class="clickable">Aanmelden</a></li>
                <li><a (click)="authSvc.showRegister()" class="clickable">Registreer</a></li>
            </ul>
            <ul *ngIf="authSvc.authenticated() && authSvc.authProfile" class="auth-list u-pull-right">
                <li>
                    <a class="clickable" (click)="showBottomMenu()">{{ authSvc.authProfile.nickname }}<i class="material-icons fix-icon">arrow_drop_down</i></a>
                    <ul class="dropdown-content dropdown-bottom shadow" *ngIf="bottomMenuActive">
                        <li><a routerLink="/profile">My Profile</a></li>
                        <li><a (click)="authSvc.logout()" class="clickable">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>