<header style="height: 60px">
    <div class="container row">
        <div class="three columns">
            <h1 class="logo ch-green"><span>Chore</span>Hub</h1>
        </div>
        <div class="five columns">
            <nav class="cf">
                <ul>
                    <li><a class="ch-blue" href="">Home</a></li>
                    <li><a class="ch-red" href="">About</a></li>
                    <li><a class="ch-yellow" href="">Browse</a></li>
                    <li><a class="ch-green" href="">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="four columns">
            <ul *ngIf="!authSvc.authenticated()" class="auth-list">  
                <li><a (click)="authSvc.showLogin()" class="clickable">Sign In</a></li>
                <li><a (click)="authSvc.showRegister()" class="clickable">Register</a></li>
            </ul>
            <ul *ngIf="authSvc.authenticated() && authSvc.userProfile" class="auth-list">
                <li><a href="#">My Profile</a></li>                
                <li><a (click)="authSvc.logout()" class="clickable">{{ authSvc.userProfile.nickname }}, Logout</a></li>
            </ul>
        </div>
    </div>
</header>
<main>    
    <router-outlet></router-outlet>
</main>
<footer class="container">
    <div class="row">
        <div class="twelve columns">
            <!-- Footer content here -->
        </div>
    </div>
</footer>