<header class="container">
    <div class="row">
        <div class="three column">
            <!-- Logo here -->
        </div>
        <div class="six column">
            <!-- Nav here -->
        </div>
        <div class="three column">
            <!-- User stuff here -->
        </div>
    </div>
</header>
<main class="container">
    <!-- Router outlet here -->
</main>
<footer class="container">
    <div class="row">
        <div class="twelve column">
            <!-- Footer content here -->
        </div>
    </div>
</footer>