/* Colors */
.ch-green {
    color: #979926;
}

.ch-blue {
    color: #38CCB5;
}

.ch-yellow {
    color: #D9B731;
}

.ch-red {
    color: #CC2A09;
}

.ch-bg-green {
    background-color: #979926;
}

.ch-bg-blue {
    background-color: #38CCB5;
}

.ch-bg-yellow {
    background-color: #FFD767;
}

.ch-bg-red {
    background-color: #CC2A09;
}

/* Positioning */
.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* Margins */
.no-mar-l {
    margin-left: 0 !important;
}

.mar-top-l {
    margin-top: 30px;
}

.mar-top-m {
    margin-top: 15px;
}

.mar-lft-m {
    margin-left: 15px;
}

.no-mar-b {
    margin-bottom: 0 !important;
}

/* Shadows */
.shadow {
  box-shadow: 0 0 3px rgba(68,68,68,0.6);
}
/* Miscellaneous */
/*body {
    background-color: #fcfcfc;
}*/

main {
  min-height: calc(100vh - 105px);
}

.clickable {
    cursor: pointer;
}

.view {
    padding: 140px 0 40px 0;
}

.fix-icon {
    vertical-align: middle;
    margin-top: -5px;
}

/* Components */
.ch-btn {
    font-family: "Lato";
    color: #fff;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
}

.ch-btn-lg {
    height: 42px;
    line-height: 42px;
    font-size: 1.4rem;
}

.ch-btn-s {
    height: 30px;
    line-height: 30px;
    font-size: 1.2rem;
}