/* Colors */
.ch-green {
    color: #979926;
}

.ch-blue {
    color: #38CCB5;
}

.ch-yellow {
    color: #D9B731;
}

.ch-red {
    color: #CC2A09;
}

.ch-bg-green {
    background-color: #979926;
}

.ch-bg-blue {
    background-color: #38CCB5;
}

.ch-bg-yellow {
    background-color: #FFD767;
}

.ch-bg-red {
    background-color: #CC2A09;
}

/* Positioning */
.left {
    float: left;
}

.right {
    float: right;
}

.text-center {
    text-align: center;
}

.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* Margins */
.mar-top-l {
    margin-top: 30px;
}

/* Shadows */
.shadow {
  box-shadow: 0 0 5px rgba(68,68,68,0.6);
}
/* Miscellaneous */
/*body {
    background-color: #fcfcfc;
}*/

main {
  min-height: calc(100vh - 105px);
}

.clickable {
    cursor: pointer;
}

.view {
    padding: 140px 0 40px 0;
}

.fix-icon {
    vertical-align: middle;
    margin-top: -5px;
}