/* Header */
.logo {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 5rem;
    font-weight: 700;
}

.logo > span {
    color: #aaa;
    font-family: "Lato";
    font-size: 5rem;
    font-weight: 300;
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
}

header ul {
    list-style: none;
}

header ul > li {
    float: left;
    margin-top: -12px;
}

header ul > li > a {    
    padding: 10px 10px;
    font-family: "Lato";
    font-weight: 500;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.username {
    font-family: "Lato";
}

header ul > li > a:hover {    
    border-bottom: 2px solid;
}

.auth-list {
    margin-top: 25px;
}

.auth-list > li > a, .username {
    font-size: 1.5rem;
}

/* Body */
.bg-img-wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.bg-img {
    width: 100%;
}