<section class="view">
    <div class="container">
        <div class="row">
            <h1 class="ch-red light">Info</h1>
            <p class="text-larger">
                ChoreHub is een online platform waar mensen hulp kunnen zoeken voor alledaagse klusjes, of zich kunnen aanmelden 
                als vrijwillig klusser. ChoreHub gaat verder dan dit, bent u slecht te been, bent u ziek? Dan kan u via 
                ChoreHub de juiste persoon vinden om u te helpen.
            </p>        
        </div>
        <div class="row">
            <h2 class="ch-blue light mar-top-l">Waarom?</h2>
            <p class="text-larger">
                Ons motto is niet voor niets "Meer tijd voor je leven". ChoreHub laat mensen toe meer tijd te steken
                in hun eigen leven, familie, of carrière. Voor klussers is ChoreHub de perfecte manier om aan uw portie vrijwilligershulp te geraken,
                en wie weet de perfecte bijverdienste.
            </p>       
        </div>
        <div class="row">
            <div class="text-larger">
                <a routerLink=""></a>
            </div>
        </div>
        <div class="row">
            <h2 class="ch-green light mar-top-l">Contact</h2>
            <p class="text-larger">info(at)chorehub.be</p>
            <p class="text-larger"> 012 34 56 78</p>
            <p class="text-larger">Chorestraat 31 Djantwerpen 2000</p>
        </div>
    </div>  
</section>