<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns six">
                <h1>Mijn chores</h1>
            </div>
            <div class="columns six">
                <a routerLink="/hub/chores/create" class="mar-top-xs ch-btn ch-btn-lg ch-bg-green u-pull-right">Nieuwe chore</a>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let chore of chores">
                            <td>{{ chore.id }}</td>
                            <td>{{ chore.title }}</td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>          
        </div>
    </div>
</section>