<header class="shadow u-cf">
    <div class="container row">
        <div class="three columns">
            <a routerLink="/home" class="logo ch-green"><span>Chore</span>Hub</a>
        </div>
        <div class="five columns">
            <nav>
                <ul class="nav-list">
                    <li><a routerLink="/home" routerLinkActive="active-link--main" class="ch-blue">Home</a></li>
                    <li><a routerLink="/info" routerLinkActive="active-link--main" class="ch-red">Info</a></li>
					<li><a routerLink="/hub/chores" routerLinkActive="active-link--main" class="ch-green">Zoekers</a></li>
					<li><a routerLink="/hub/users" routerLinkActive="active-link--main" class="ch-yellow">Klussers</a></li>
                </ul>
            </nav>
        </div>
        <div class="four columns">
            <ul *ngIf="!authSvc.authenticated()" class="auth-list u-pull-right">
                <li><a (click)="authSvc.login()" class="clickable">Aanmelden</a></li>
                <li><a (click)="authSvc.register()" class="clickable">Registreer</a></li>
            </ul>
            <ul *ngIf="authSvc.authenticated() && authSvc.authProfile" class="auth-list u-pull-right">
                <li>
                    <a class="clickable" (click)="showTopMenu()">{{ authSvc.authProfile.nickname }}<i class="material-icons fix-icon-right">arrow_drop_down</i></a>
                    <ul class="dropdown-content shadow" *ngIf="topMenuActive">
                        <li><a *ngIf="authSvc.isAdmin" routerLink="/admin/categories">Admin Panel</a></li>
                        <li><a routerLink="/profile">Mijn Profiel</a></li>
                        <li><a routerLink="/profile/chores">Mijn Chores</a></li>
                        <li><a (click)="authSvc.logout()" class="clickable">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="container row">
        <div class="four columns">
            <p>&copy; Benno Meysmans <br />
                &amp; Seppe Goossens 2017</p>
        </div>
        <div class="eight columns">
            <ul class="cf nav-list">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/info">Info</a></li>
				<li><a routerLink="/hub/chores">Zoekertjes</a></li>
				<li><a routerLink="/hub/users">Klussers</a></li>
            </ul>
        </div>
    </div>
</footer>
