<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns six">
                <h1 class="light ch-green no-mar-b">Hub</h1>
                <h5 class="light">Vind de juiste persoon om je te helpen</h5>
            </div>
            <div class="columns six">
                <ul class="u-pull-right hub-nav-list">
                    <li class="regular">Zoek op:</li>
                    <li><a routerLink="/hub/users">Personen</a></li>
                    <li><a routerLink="/hub/chores">Chores</a></li>
                </ul>
            </div>
        </div>
        <div class="row shadow ch-bg-green">
            <div class="columns twelve hub-container u-pull-right">
                <h5 class="ch-green">Users</h5>
                <div *ngFor="let user of users; let e = even;" class="columns six card" [ngClass]="e == true ? 'no-mar-l' : ''">
                    <h5>{{ user.firstName }} {{ user.lastName }}</h5>
                    <img style="height: 100px; width: 200px;" [src]="user.image.link" alt="user image">
                    <label>Beschrijving</label>
                    <p style="max-height: 80px; overflow: hidden;">{{ user.description }}</p>
                    <a class="ch-blue ch-link text-m" [routerLink]="['/hub/users/', user.id]">Verder...</a>         
                </div>                            
            </div>
        </div>
    </div>
</section>