<section class="view">
    <div class="container">
        <div *ngIf="state == 'Maak'" class="row">
            <div class="columns twelve">
                <p class="text-white ch-bg-red alert">Je hebt nog geen profiel aangemaakt bij ons. Zonder profiel kan je ChoreHub niet volledig gebruiken.</p>
            </div>
        </div>
        <div class="row mar-top-l">
            <div class="columns twelve">
                <h1>{{ state }} profiel</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns six">
                <label for="first-name">Voornaam</label>
                <input [(ngModel)]="profile.firstName" class="u-full-width" type="text" id="first-name" />
                <p class="error">{{ errors.firstNameError }}</p>
            </div>
            <div class="columns six">
                <label for="last-name">Naam</label>
                <input [(ngModel)]="profile.lastName" class="u-full-width" type="text" id="last-name" />
                <p class="error">{{ errors.lastNameError }}</p>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns twelve">
                <label for="description">Beschrijf jezelf</label>
                <textarea [(ngModel)]="profile.description" class="u-full-width" id="description"></textarea>
                <p class="error">{{ errors.descriptionError }}</p>
            </div>
        </div>
        <div class="row mar-top-p">
            <div class="columns six">
                <label for="location">Waar woont u?</label>
                <input [(ngModel)]="profile.location" type="text">
                <p class="error">{{ errors.locationError }}</p>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns six">
                <label for="is-active">Wenst u hulp aan te bieden?<small> (Indien u ja zegt wordt uw profiel mee in de Hub gestoken en kan je gecontacteerd worden door mensen die hulp nodig hebben)</small></label>
                <select [(ngModel)]="profile.isPublic" id="is-active">
                    <option value="">Kies hier ...</option>
                    <option value="true">Ja</option>
                    <option value="false">Nee</option>
                </select>
                <p class="error">{{ errors.isPublicError }}</p>
            </div>
        </div>
        <div *ngIf="profile.image" class="row mar-top-m">
            <div class="columns six">
                <label>Profiel foto (optioneel) - 4x3 ratio aangeraden</label>
                <img class="profile-picture" [src]="profile.image.link" alt="profiel foto" />
            </div>
        </div>
        <div class="row mar-top-m">
            <label>Profiel foto (optioneel) - 4x3 ratio aangeraden</label>
            <div class="columns six no-mar-l mar-top-m">
                <input type="file"
                    (change)="fileChange($event)"
                    ngFileSelect
                    [options]="ngUploadOptions"
                    [events]="uploadEvents"
                    (onUpload)="handleUpload($event)">
                <p class="error">{{ errors.pictureError }}</p>
            </div>
        </div>
        <div class="row mar-top-l">
            <a (click)="validate()" class="ch-btn ch-btn-lg ch-bg-blue clickable"><i class="material-icons fix-icon-left">done</i>Opslaan</a>
            <a *ngIf="state == 'Bewerk'" (click)="goBack()" class="ch-btn ch-btn-lg ch-bg-red clickable mar-lft-m">Annuleer</a>
        </div>
    </div>
</section>
