<section class="view">
    <div class="container">
        <div class="row">
            <div class="columns twelve">
                <a class="ch-blue ch-link text-l clickable" (click)="goBack()">Terug</a>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <h1>{{ chore.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="columns twelve">
                <label>Waar heb ik hulp mee nodig?</label>
                <span>{{ chore.category }}</span>
            </div>
        </div>
        <div class="row mar-top-m">
            <div class="columns twelve">
                <label>Wat verwacht ik?</label>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Odit temporibus earum, dolor numquam aspernatur, odio fugit nisi quos fuga laudantium neque sequi 
                    suscipit voluptatibus natus necessitatibus laboriosam, cum accusamus voluptate.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label>Geplaatst door</label>
                <a class="ch-blue ch-link text-l" [routerLink]="['/hub/users/', chore.author.firstName + '-' + chore.author.lastName ]">{{ chore.author.firstName }} {{ chore.author.lastName }}</a>
                <label class="mar-top-m">Contacteer</label>
                <span>{{ chore.author.email }}</span>
            </div>
        </div>
    </div>
</section>